<header class="c-page__header">
        <h1>{{ site.description }}</h1>
	{% if page.title == 'Home' %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span class="u-separate"></span> 
        <a href="{{ "/gamedev/" | prepend: site.baseurl }}">Game Dev</a><span class="u-separate"></span> 
        <a href="{{ "/gameart/" | prepend: site.baseurl }}">Game Art</a>
    </p>
	{% else %}
    <p>
        <a href="{{ "/" | prepend: site.baseurl }}">&lt;&ndash;&ndash; Back</a>
    </p>
	{% endif %}
</header>
